body{
    margin: 0;
    padding: 0;
}

.total_container{
    min-width: 100vw;
    min-height: 100vh;
}

.title{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(116, 195, 114);
    min-height: 500px;
    width: 100%;
    
}

.about{
    border: 1px solid black;
    background-color: rgb(116, 195, 114);
    min-height: 250px;
    width: 100%;
}