body{
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    background-color: bisque;
    opacity: 0;
    animation: fadeIn 1.2s ease-in-out forwards;
}
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
button{
    cursor:pointer;
    background-color: transparent;
    border:none;
}

.total_container{
    min-width: 100vw;
    min-height: 100vh;
}

.title_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4a460;
    min-height: 100vh;
    width: 100%;
}
.title_background{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
    background-color: #ffe4c4;
    min-height: 630px;
    width: 95%;
}
.title{
    color: black;
    display: flex;
    position: absolute;
    top: 5px;
    left: 150px;
    transition: color 0.6s ease;
}
.title:hover{
    color: #f4a460;
    transition: 1s ease-in-out;
}
.about_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.paragraph_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 150px;
}
.about_me_title{
    display: flex; 
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.about{
    width: 60%;
    margin: auto;
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-justify: inter-word;
}

.menu_container{
    position: absolute;
    flex-direction: row;
    top: 30px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 25px;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: 20px;
    transition: color 0.6s ease;
}
a:hover{
    color: #f4a460;
    transition: 0.7s ease-in-out;
}

/* .close_button{
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}
#side_menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgb(234, 236, 233);
    border: 1px solid black;
    border-radius: 2%;
    padding: 10px;
    min-height: 100px;
    min-width: 99vw;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}
#side_menu.visible{
    transform: translatey(0);
}
.hidden_menu{
    display:none;
} */