.total_container{
    display:flex;
    background-color: rgb(226, 68, 68);
    width: 100vh;
    height: 100vh;
}

.title_container{
    align-items: center;
    justify-content: center;
    min-height: 250px;
    width: 100%;
}

.title{
    text-align: center;
    background-color: gray;
    min-height: 250px;
    width: 100%;
}